PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://ravimandaal220805_db_user:cFB5oC59Q4BGzasC@cluster0.tzgmadr.mongodb.net/
# Authentication
JWT_SECRET=

# Email
EMAIL_USER=
EMAIL_PASSWORD=

# AI
AI_API_KEY=

# Payment
PAYMENT_KEY=
PAYMENT_SECRET=